.page-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-top: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container {
    width: 60% !important;
}

.navbar {
    background-color: white;
    position: fixed !important;
    width: 100% !important;
    min-height: 50px;
    max-height: 50px;
}

.navbar-brand {
    width: 50%;
}

.navbar-icons {
    width: 28px !important;
    height: 28px !important;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.left {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 15px !important;
}

.right {
    float: right !important;
}

.like-count {
    color: green;
    cursor: default !important;
}

.help {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    opacity: 1 !important;
}

.modal-dialog {
    width: auto !important;
    margin: 0 !important;
}

.modal-size {
    height: 0vh;
}

.alert {
    opacity: 1 !important;
}

.alert-primary {
    background-color: lightblue;
}

.help-text {
    white-space: pre-wrap;
}

.load-next-card {
    background-color: white;
    min-width: 480px;
    min-height: 34px;
    max-height: 34px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 15px;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
    box-shadow: -1px -1px #ededc4, -1px 1px #ededc4, 1px -1px #ededc4, 1px 1px #ededc4; 
}